.id-container {
    background-color: white;
    width: 100vw;
    height: 62.5vw;
    box-shadow: 0px 0px 1px black;
    border-radius: 4vw;
    padding: 3vw 5vw;
}
.id-container > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.id-container > div > h1 {
    font-size: 3.5vw;
    padding: 1.5vw;
    color: #01455d;
}
.id-container > div > h2 {
    font-size: 3.5vw;
    background-color: #eef9fe;
    padding: 1.5vw;
    border-radius: 1vw;
    color: #0097cf;
}
.mid-section div{
    display: block;
    padding: 3vw;
}
.mid-section div > h1 {
    font-size: 4vw;
    letter-spacing: 1px;
    color: #0097cf;
}
.mid-section div > h2 {
    font-size: 5vw;
    font-weight: 100;
}
.mid-section div > p {
    font-size: 2vw;
    font-weight: 700;
    background-color: #eef9fe;
    color: #0097cf;
    padding: 1vw;
    border-radius: 1vw;
}

span {
    color: #fbb417

} 
.footer-section {
    display: flex;
}
.footer-section div{
    height: 12vw;
    width: 58vw;
    /* background-color: #0097cf; */
    display: flex;
}
.footer-section p {
    font-size: 3vw;
    align-self: flex-end;
}
.line-thin {
    display: block;
    height: 100%;
    width: 1%;
    background-color: #0097cf;
    margin-right: 5%;
}
.line-big {
    display: block;
    height: 100%;
    width: 2%;
    background-color: #0097cf;
    margin-right: 5%;
}